<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="stylesheets/StyleLogin.css" type="text/css">
    </head>
    <body>

        
        
          
            <form action="/login" method="POST" >
             
             <div class="container">   
                <h1>Log In</h1>   
            <div class="box">
                <i class="fa fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Enter Your Email">
            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input type="password" name="password" id="password" placeholder="Enter Your Password">
            </div>
            <button type="submit" class="btn">Sign In</button>
            </div>
        </form>
      
    
    </body>
</html>