<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/stylePreparation.css" type="text/css">

    <title>Preparation</title>
    
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/home"  >Home</a></li>
                <li><a href="/about" >About</a></li>
                <li><a href="/preparation">Preparation</a></li>
                <li><a href="/contact" >Contact us</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Welcome to the Preparation page of our site. Below you can find the links through which you can start your preparation of your interview.</h1>
        <h2>Thankyou!!!! Happy Learning</h2>
    <a href="https://www.javatpoint.com/tcs-interview-questions" target="blank">Click for!!-TCS Preparation</a> <br>
    <a href="https://www.javatpoint.com/capgemini-interview-questions" target="blank">Click for!!-Capgemini Preparation</a>
</div>
</body>

</html>
